/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */


.hypothesisDetailOverlayMask {
    padding: 0;
}

.hypothesisDetail {
    height: 100%;

    &__body {
        background-color: $ouiColorEmptyShade !important;
        padding-inline-end: $ouiSizeS;
    }
}