.hypothesisDetailOverlayMask {
    padding: 0;
}

.hypothesisDetail {
    height: 100%;

    &__findingsButtonGroup {
        background: $ouiColorLightShade;
        border-radius: $ouiSizeM;

        .euiButtonGroup__buttons {
            box-shadow: unset;

            .euiButtonGroupButton {
                border: 0;
                margin: $ouiSizeXS;
                border-radius: $ouiSizeS !important
            }

            .euiButtonGroupButton-isSelected {
                background: $ouiColorGhost !important;
                color: unset !important;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
            }
        }
    }
}